﻿<div>Add a Kendo UI for Angular component here</div>
<h1>Good Work</h1>
<ul>
    <li *ngFor="let item of item$ | async">
        {{ item.name }}
    </li>
</ul>


<kendo-card>
    <kendo-card-header>
        <div>
            <h1 kendoCardTitle>{{ card.headerTitle }}</h1>
            <p kendoCardSubtitle>{{ card.headerSubtitle }}</p>
        </div>
    </kendo-card-header>
    <hr kendoCardSeparator>
    <kendo-card-body>
        <h4> ce ci est est le contenu de kendo card </h4>
    </kendo-card-body>
</kendo-card>