
<div class="content w3-main" style="margin-left:340px;margin-right:40px">
    <app-header></app-header>
    <router-outlet></router-outlet>
</div>
<div class="footer" style="margin-left:340px;margin-right:40px">
    <app-footer></app-footer>
</div>
<app-sidebar></app-sidebar>
