<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;"
  id="mySidebar"><br>
    <h4 class="w3-xxxlarge"><b>GoTrade</b></h4>
    <h4 class="w3-large">For selling & buying Stuff</h4>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft"
    style="width:100%;font-size:22px">Close Menu</a>
  <div id="Borge">
    <br>
    <img class="w3-round  w3-animate-top" src="assets/avatar3.png" style="display: inline-block;width:40%;">
    <div  style="display: inline-block;">
    <h5 class="w3-opacity">Foulen ben foulen</h5>
    <h4 ><i class="fa fa-clock-o"></i> {{dat}}</h4>
    </div>
  </div>
  <hr>
  <!--div class="w3-container">
    <h3 class="w3-padding-64"><b>zaZZwa</b></h3>
  </div-->  
  <div class="w3-bar-block">
    <a [routerLink]="['/content-component']" [queryParams]="{ name: 'Tous'}" (click)="w3_closex()" class="w3-bar-item w3-button w3-hover-white">All</a>      
    <a [routerLink]="['/content-component']" [queryParams]="{ name: cat.Home}" (click)="w3_closex()" class="w3-bar-item w3-button w3-hover-white">Home</a>   
    <a [routerLink]="['/content-component']" [queryParams]="{ name: cat.AutoParts}" (click)="w3_closex()" class="w3-bar-item w3-button w3-hover-white">AutoParts</a> 
    <a [routerLink]="['/content-component']" [queryParams]="{ name: cat.Electronics}" (click)="w3_closex()" class="w3-bar-item w3-button w3-hover-white">Electronics</a> 
    <a [routerLink]="['/content-component']" [queryParams]="{ name: cat.Health}" (click)="w3_closex()" class="w3-bar-item w3-button w3-hover-white">Health & Beauty</a>
    <a [routerLink]="['/content-component']" [queryParams]="{ name: cat.Toys}" (click)="w3_closex()" class="w3-bar-item w3-button w3-hover-white">Toys & Hobbies</a>
    <a [routerLink]="['/content-component']" [queryParams]="{ name: cat.Others}" (click)="w3_closex()" class="w3-bar-item w3-button w3-hover-white">Others</a>
  </div>
</nav>
